@font-face {
	font-family: 'Westwood Sans';
    src: url('../public/WestwoodSans-Regular.ttf') format('truetype');
}

.calendar {
	background-color: transparent;
	font-family: 'Westwood Sans', sans-serif;
	height: 96vh;
	margin: 2vh;
	display: flex;
	flex-direction: row;
  
  	.main {
		width: 74vw;
		padding-right: 2vw;
		display: flex;
		flex-direction: column;

  		.header {
    		display: flex;
			flex-direction: row;
			flex-shrink: 0;
			padding-bottom: 10px;

			.arrow-buttons {
				width: 20%;
				text-align: center;
			}

			.week-name {
				width: 65%;
				text-align: center;
				font-size: 300%;
			}

			/* width: 15% for empty space */

		}

		.date-names-row {
			display: grid;
			grid-template-columns: 1fr repeat(7, 3fr) 11px; /* 11px section is reserved for scrollbar */
			flex-shrink: 0;

			.date-name {
				padding-bottom: 10px;
				text-align: center;
				font-size: 125%;
			}
			.date-name:hover {
				cursor: pointer;
				color: rgb(70, 62, 62);
			}
		
		}

		.body {
			flex: 1;
			display: grid;
			grid-template-columns: 1fr repeat(7, 3fr);
			overflow-y: scroll;
			box-sizing: content-box;
			border: 2px solid darkslategray;
		}
	}

	.sidebar {
		width: 22vw;
		border: 2px solid black;
	}

}