.event-name {
    color: black;
    padding: 3px;
    text-align: left;
    /* font-family: 'Roboto'; */
}

.event-details {
    font-family: 'Roboto';
    font-size: 15px;
}

/* .expanded-event {
	position: relative;
	right: 50px;
} */