@font-face {
    font-family: 'Roboto';
    src: url('../public/Roboto-Medium.ttf') format('truetype');
}

.hours-column {
    display: grid;
    grid-template-rows: repeat(24, 60px);

    .hour {
        text-align: center;
        border-left: 2px solid rgba(128,128,128,0.3);
        border-bottom: 1px solid rgba(128,128,128,0.3);
        border-top: 1px solid rgba(128,128,128,0.3);
        border-right: 1px solid rgba(128,128,128,0.3);
        color: gray;
    }
    .hour:first-child {
        border-top: 2px solid rgba(128,128,128,0.3);
    }
    .hour:last-child {
        border-bottom: 2px solid rgba(128,128,128,0.3);
    }

}

.date-column {
    display: grid;
    grid-template-rows: repeat(24, 60px);
    position: relative;
    z-index: 1;

    .date-and-hour-box {
        border: 1px solid rgba(128,128,128,0.3);
        position: relative;
    }
    .date-and-hour-box:first-child {
        border-top: 2px solid rgba(128,128,128,0.3);
    }
    .date-and-hour-box:last-child {
        border-bottom: 2px solid rgba(128,128,128,0.3);
    }
    
}
.date-column:last-child {
    border-right: 2px solid rgba(128,128,128,0.3);
}